a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50%;
}

.button {
    background-color: #555;
    border: 2px solid #000;
    color: #f4f4f4;
    padding: 10px 0px;
    display: inline-block;
    font: bold 14px Helvetica, sans-serif;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 8px;
    width: 20%;
}

.button:hover {
    background-color: #f4f4f4;
    color: #000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
