a{
    text-decoration: none;
    color: #000;
}

body{
    background-color: #f4f4f4;
    margin: 0;
}

.form-container{
    text-align: center;
    line-height: 3em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50%;
}

.title{
    font: bold 30px "Microsoft YaHei", sans-serif;
}

.my-form label{
    display: block;
    font: bold 20px "Microsoft YaHei", sans-serif;
    margin: 0px;
    padding: 0px;
}

.my-form input[type="text"], .my-form textarea{
    padding: 5px;
    width: 10%;
}

.button{
    background-color: #333;
    color: #fff;
    padding: 5px 30px;
    font: bold 12px "Microsoft YaHei", sans-serif;
}

.button:hover{
    background-color: red;
    color: #fff;
}
