{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/make_quiz.css') }}">
    <title>Quizer</title>
{% endblock %}

{% block body %} 

    <div class="container">
        <h2 class="title">Quizer</h2>

        <form action="{{ url_for('review_quiz') }}", method="post", class="form">
            <table class="table">
                <tr>
                    <td>Spørsmål 1: </td>
                    <td><input type="text" name="question1" class="question"></td>
                </tr>
                <tr>
                    <td>Svar 1: </td>
                    <td><input type="text" name="answer1_1" class="answer"></td>
                    <td><input type="text" name="answer1_2" class="answer"></td>
                    <td><input type="text" name="answer1_3" class="answer"></td>
                    <td><input type="text" name="answer1_4" class="answer"></td>
                </tr>
                <tr>
                    <td>Spørsmål 2: </td>
                    <td><input type="text" name="question2" class="question"></td>
                </tr>
                <tr>
                    <td>Svar 2: </td>
                    <td><input type="text" name="answer2_1" class="answer"></td>
                    <td><input type="text" name="answer2_2" class="answer"></td>
                    <td><input type="text" name="answer2_3" class="answer"></td>
                    <td><input type="text" name="answer2_4" class="answer"></td>
                </tr>
                <tr>
                    <td>Spørsmål 3: </td>
                    <td><input type="text" name="question3" class="question"></td>
                </tr>
                <tr>
                    <td>Svar 3: </td>
                    <td><input type="text" name="answer3_1" class="answer"></td>
                    <td><input type="text" name="answer3_2" class="answer"></td>
                    <td><input type="text" name="answer3_3" class="answer"></td>
                    <td><input type="text" name="answer3_4" class="answer"></td>
                </tr>
                <tr>
                    <td>Spørsmål 4: </td>
                    <td><input type="text" name="question4" class="question"></td>
                </tr>
                <tr>
                    <td>Svar 4: </td>
                    <td><input type="text" name="answer4_1" class="answer"></td>
                    <td><input type="text" name="answer4_2" class="answer"></td>
                    <td><input type="text" name="answer4_3" class="answer"></td>
                    <td><input type="text" name="answer4_4" class="answer"></td>
                </tr>
                <tr>
                    <td>Spørsmål 5: </td>
                    <td><input type="text" name="question5" class="question"></td>
                </tr>
                <tr>
                    <td>Svar 5: </td>
                    <td><input type="text" name="answer5_1" class="answer"></td>
                    <td><input type="text" name="answer5_2" class="answer"></td>
                    <td><input type="text" name="answer5_3" class="answer"></td>
                    <td><input type="text" name="answer5_4" class="answer"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Sende inn" class="button"></td>
                    <td><input type="reset" value="Nullstill" class="button"></td>
                </tr>
            </table>

        </form>

    </div>

{% endblock %}    
    
