{% extends 'base.html' %}

{% block head %}
    <title>Review quizzes</title>
{% endblock %}

{% block body %}
    <table border=1 class="table">
        <thead>
            <tr>
                <th>Quiz</th>
                <th>Svar 1</th>
                <th>Svar 2</th>
                <th>Svar 3</th>
                <th>Svar 4</th>
            </tr>
        </thead>

        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz['question'] }}</td>
                {% for answer in quiz['answers'] %}
                    <td>{{ answer }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}