{% extends 'base.html' %}

{% block head %}
    <title>Review quizzes</title>
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer 1</th>
                <th>Answer 2</th>
                <th>Answer 3</th>
                <th>Answer 4</th>
            </tr>
        </thead>

        <tbody>
            {% for quiz in quiz_data %}
            <tr>
                <td>{{ quiz['question'] }}</td>
                {% for answer in quiz['answers'] %}
                    <td>{{ answer }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}