{% extends 'base.html' %}

{% block head %}
    <title>Review quizzes</title>
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer 1</th>
                <th>Answer 2</th>
                <th>Answer 3</th>
                <th>Answer 4</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>{{ quiz.question }}</td>
                <td>{{ quiz.answer1 }}</td>
                <td>{{ quiz.answer2 }}</td>
                <td>{{ quiz.answer3 }}</td>
                <td>{{ quiz.answer4 }}</td>
            </tr>

        </tbody>
    </table>
{% endblock %}