{% extends 'base.html' %}
{% block body %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/user_login.css') }}">
    <title>Administrator login</title>

    <form class="my-form", action="{{ url_for('success') }}", method="post">
      <h3 class="title">Please enter your name</h2>

      <table class="table">
        <tr>
          <td>First name: </td>
          <td><input type="text" name="firstname"></td>
        </tr>

        <tr>
          <td>Last name: </td>
          <td><input type="text" name="lastname"></td>
        </tr>

        <tr>
          <td><a href="/" class="button">Back</a></td>
          <td><input type="submit" value="Login" class="button"></td>
        </tr>
      </table>

      <ul>
        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </form>

{% endblock %}
