a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
    position: absolute;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50%;
}

.button {
    background-color: #555;
    border: 2px solid #000;
    color: #f4f4f4;
    padding: 10px 0px;
    display: inline-block;
    font: bold 14px Helvetica, sans-serif;
    margin: 0px 0px;
    margin-bottom: 100px;
    cursor: pointer;
    border-radius: 8px;
    width: 20%;
}

.button:hover {
    background-color: #f4f4f4;
    color: #000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.quiz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
}

.quiz-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

.quiz-item-passed {
    background-color: #d0d0d0;
}

.quiz-item:hover {
    transform: scale(1.1);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.quiz-item h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 10px 0;
    font-family: "Microsoft YaHei", sans-serif;
}

.quiz-item p {
    font-size: 16px;
    margin: 10px 0;
}

.quiz-item .quiz-description {
    line-height: 1.5;
}

.quiz-item .quiz-extra-info {
    color: #555;
    line-height: 2;
}

.quiz-item .quiz-extra-info-first {
    margin-top: 20px;
}

.quiz-item .quiz-extra-info span {
    margin: 2px 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.quiz-item .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.quiz-item .quiz-passed-message {
    background: #a0a0f0;
    color: #555;
    font-size: 16px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
}
